<p>
    <span style="color: rgb(255, 255, 255); text-decoration: underline;">
        <strong>
            <span style="color: rgb(255, 255, 255); text-decoration: underline; background-color: rgb(255, 0, 0);">Dear SDM User:</span>
        </strong>
    </span>
    &nbsp;&nbsp;
    <span style="text-decoration-line: underline;">
        <strong><span style="background-color: rgb(255, 255, 0);">TT-20200801-00000018</span></strong>
    </span>
</p>
<p>
    <span style="text-decoration-line: underline;">
        <strong><span style="background-color: rgb(255, 255, 0);"><br/></span></strong>
    </span>
</p>
<p>
    <span style="text-decoration-line: underline;">
        <strong><span style="background-color: rgb(255, 255, 0);"></span></strong>
    </span>
</p>
<p>
<table>
    <tbody>
    <tr class="ue-table-interlace-color-single firstRow"><td width="272" valign="top" style="word-break: break-all;">
            <strong>
                <span style="text-decoration: none;">
                    <span style="text-decoration: none; background-color: rgb(255, 255, 0);">Ticket Create by FO Engineer</span>
                </span>
            </strong>
        </td>
        <td width="272" valign="top" style="word-break: break-all;">System</td>
    </tr>
    <tr class="ue-table-interlace-color-double">
        <td width="272" valign="top" style="word-break: break-all;">
            <strong><span style="text-decoration: none;"><span style="text-decoration: none; background-color: rgb(255, 255, 0);">Site Name</span></span></strong>
        </td>
        <td width="272" valign="top" style="word-break: break-all;"><span style="background-color: rgb(255, 255, 255);">415,&nbsp;415_MANANTALI</span></td>
    </tr>
    <tr class="ue-table-interlace-color-single">
        <td width="272" valign="top" style="word-break: break-all;">
            <strong>
                <span style="background-color: rgb(255, 0, 0); color: rgb(255, 255, 255); text-decoration: underline;">Occur Time</span>
            </strong>
        </td>
        <td width="272" valign="top" style="word-break: break-all;"><span style="background-color: rgb(255, 255, 255);">2020-08-01 00:40:12</span></td>
    </tr>
    <tr class="ue-table-interlace-color-double"><td width="272" valign="top" style="word-break: break-all;">
            <strong><span style="text-decoration-line: underline; color: rgb(255, 255, 255);"><span style="background-color: rgb(255, 0, 0);">Ticket Creation Time</span></span></strong>
        </td><td width="272" valign="top" style="word-break: break-all;"><span style="background-color: rgb(255, 255, 255);">2020-08-01 00:49:26</span></td>
    </tr>
    <tr class="ue-table-interlace-color-single"><td width="272" valign="top" style="word-break: break-all;"><strong><span style="text-decoration-line: underline; color: rgb(255, 255, 255);"><span style="background-color: rgb(255, 0, 0);">Incident Priority</span></span></strong></td><td width="272" valign="top" style="word-break: break-all;"><span style="background-color: rgb(255, 255, 255);">3</span></td></tr>
    <tr class="ue-table-interlace-color-double">
        <td width="272" valign="top" style="word-break: break-all;">
            <strong>
                <span style="text-decoration-line: underline; color: rgb(255, 255, 255);">
                    <span style="background-color: rgb(255, 0, 0);">Impacts</span>
                </span>
            </strong>
        </td>
        <td width="272" valign="top" style="word-break: break-all;">
            <span style="background-color: rgb(255, 255, 255);">4002,429,4109</span>
        </td>
    </tr>
    <tr class="ue-table-interlace-color-single">
        <td width="272" valign="top" style="word-break: break-all;">
            <strong>
                <span style="text-decoration: none;">
                    <span style="text-decoration: none; background-color: rgb(255, 255, 0);">Problem Type:</span>
                    <span style="text-decoration: none; background-color: rgb(255, 255, 255);">&nbsp;</span>
                </span>
            </strong>
        </td>
        <td width="272" valign="top"><br/></td>
    </tr>
    <tr class="ue-table-interlace-color-double">
        <td width="272" valign="top" style="word-break: break-all;">
            <strong>
                <span style="text-decoration: none;">
                    <span style="text-decoration: none; background-color: rgb(255, 255, 0);">Comment</span>
                </span>
            </strong>
        </td>
        <td width="272" valign="top" style="word-break: break-all;">
            <span style="background-color: rgb(255, 255, 255);">
                NodeB ID=11112, RNC ID=101, NodeB Name=415_MANANTALI_3G, Alarm Cause=Port of the NodeB unavailable   NeType: BSC6910 UMTS| NeLocation: MSC4| vendor: | neName: MSC4HWRNC1| alarmName: NodeB Unavailable| alarmLocation: NodeB ID=11112, RNC ID=101, NodeB Name=415_MANANTALI_3G, Alarm Cause=Port of the NodeB unavailable| appendInfo:
            </span>
        </td>
    </tr>
    <tr class="ue-table-interlace-color-single">
        <td width="272" valign="top" style="word-break: break-all;">
            <strong>
                <span style="text-decoration: none;">
                    <span style="text-decoration: none; background-color: rgb(255, 255, 0);">Description</span>
                </span>
            </strong>
        </td>
        <td width="272" valign="top" style="word-break: break-all;">
            <span style="background-color: rgb(255, 255, 255);">NodeB Unavailable@2020-08-01 00:40:12@415_MANANTALI_3G</span>
        </td>
    </tr>
    </tbody></table><br/></p><p></p><p><span style="color: rgb(255, 255, 255); background-color: rgb(0, 176, 80);"><strong><span style="color: rgb(255, 255, 255); text-decoration: none;">Customer Satisfaction and Experience first.</span></strong></span></p><p><span style="background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 11px;"><strong><span style="color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); text-decoration: none;">Noted: Don&#39;t reply to this email because sended automatically by SDM System. For any issue with OWS Tool, please contact your OWS Administrator</span></strong></span></p>